<!DOCTYPE html>
<html>
<head>
<title>百词斩</title>
<link rel="stylesheet" href="css/common.css" />
</head>
<body>
	<div id="container">
		<header id="header">
			<div id="nav">
				<img src="images/back.png" /><img src="images/share.png" />
				<input type="submit" value="交卷" name="submit"/>
			</div><!-- /nav -->
		</header>
		<article id="article">
		<h1><img src="images/bookmark.png"/>点击空格处，选择最恰当的单词</h1>
		<p class="article-body">It's the first question parents ask when their child is diagnosed with autism (自闭症). Will his future brothers or sisters have a higher risk of 
		1 <span class="blank-space" id="blank-space" value="1">_____</span> it, too? According to the largest study of siblings (兄弟姐妹) in families with autism, the answer is yes. Among 664 children who had at least one older sibling with the developmental disorder, the 
		2 <span class="blank-space" id="blank-space" value="2">_____</span> risk of autism was nearly 19%, 
		3 <span class="blank-space" id="blank-space" value="3">_____</span> higher than previous sibling-recurrence estimates that were anywhere from 3% to 10%. Kids with more than one older autistic sibling had an even higher risk of the disorder: 32%. 
The 
4 <span class="blank-space" id="blank-space" value="4">_____</span> suggest that genes play a key role in autism risk. But they also hint that other environmental factors 
5 <span class="blank-space" id="blank-space" value="5">_____</span> by siblings, like influences in the womb (子宫), may be important as well. 
On the 
6 <span class="blank-space" id="blank-space" value="6">_____</span> of the findings, the researchers recommend that doctors closely 
7 <span class="blank-space" id="blank-space" value="7">_____</span> younger siblings of autistic children to pick up any early signs of the disorder, 
8 <span class="blank-space" id="blank-space" value="8">_____</span> an unusually large head or delayed language development and communication skills. Evidence suggests that early 
9 <span class="blank-space" id="blank-space" value="9">_____</span> and diagnosis of autism can help children take advantage of therapies that can treat some of its 
10 <span class="blank-space" id="blank-space" value="10">_____</span>
		</p>
		</article>
		<div id="chosen-area">
		<div id="chosen-numbers">
			<div id="chosen-number">
				<span class="chosen-one" id="chosen" value="1">1</span>
				<span class="chosen-one" id="chosen" value="2">2</span>
				<span class="chosen-one" id="chosen" value="3">3</span>
				<span class="chosen-one" id="chosen" value="4">4</span>
				<span class="chosen-one" id="chosen" value="5">5</span>
				<span class="chosen-one" id="chosen" value="6">6</span>
				<span class="chosen-one" id="chosen" value="7">7</span>
				<span class="chosen-one" id="chosen" value="8">8</span>
				<span class="chosen-one" id="chosen" value="9">9</span>
				<span class="chosen-one" id="chosen" value="10">10</span>
			</div>
			<div id="chosen-at">
				<span class="chosen-point"></span>
				<span class="chosen-point"></span>
				<span class="chosen-point"></span>
				<span class="chosen-point"></span>
				<span class="chosen-point"></span>
				<span class="chosen-point"></span>
				<span class="chosen-point"></span>
				<span class="chosen-point"></span>
				<span class="chosen-point"></span>
				<span class="chosen-point"></span>
			</div>
			</div>
			
			<div id="chosen-details">
				<table class="chosen-table" cellspacing="0">
				<!-- 最好是乱序 -->
					<tr><td>common</td><td>results</td><td>consequently</td></tr>
					<tr><td>basis</td><td>detection</td><td>monitor</td></tr>
					<tr><td>symbols</td><td>average</td><td>dramatically</td></tr>
					<tr><td>symptoms</td><td>reason</td><td>distributed</td></tr>
					<tr><td>including</td><td>shared</td></tr>
				</table>
			</div>
		</div>
	</div>
<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="js/common.js"></script>
</body>
</html>